.bg {
    opacity: 35%;
    position: absolute;
    width: 100%;
    height: 75%;
    top: 0;
    background-attachment: scroll;
    background-size: cover;
    background-image: url('https://images.financialexpress.com/2018/04/Saif.jpg');
    background-repeat: no-repeat;
}


.titleabt {
    padding-left: 200px;
    font-size: 170px;
    font-family: sans-serif;
    font-weight: 900;
    animation: animateabt 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}
@keyframes animateabt{
    100% {
        transform: translateY(270px);
    }
    0% {
        transform: translateY(0px);
    }
    
}
/* end of about animation */ 

.dots {
    padding-left: 200px;
    padding-top: 550px;
    padding-bottom: 20px;
}
.info1 {
    font-size: 25px;
    font-family: Arial;
    padding-left: 200px;
    letter-spacing: 0.8px;
}
.info2 {
    font-size: 25px;
    font-family: Arial;
    padding-left: 200px;
    padding-top: 35px;
    letter-spacing: 0.8px;
    padding-bottom: 35px;
}

.dashabt {
    margin-top: 130px;
    border: 1.5px solid black;
    height: 0px;
    margin-left: 200px;
    margin-right: 200px;
}

.dash {
    margin-top: 20px;
    border: 1.5px solid black;
    height: 0px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
}

.dash1 {
    border: 1px solid black;
    height: 0px;
    width: 280px;    
    margin-right: 200px;
    margin-left: 935px;
}

.imgabt1 {
    padding-top: 50px;
    margin-left: 200px;
}

.imgtext1 {
    font-size: 14px; 
    font-family: Arial; 
    font-weight: 700; 
    letter-spacing: 1.3px;
    padding-left: 50px;
    padding-top: 110px;
}

.imgtext2 {
    padding-top: 150px;
    font-size: 60px; 
    font-style: bold;
    font-weight: 900;
    font-family: Arial;
    padding-left: 50px;
    line-height: 60px;
}

#content .col {
  float: left;
clear:right;
}

.sector {
    margin-right: 550px;
    padding-top: 500px;
    margin-left: 200px;
    font-family: sans-serif;
    font-size: 30px;
    padding-bottom: 15px;
}

.lists{
    font-family: Arial;
    font-size: 13px;
    color: dimgrey;
}

/* carousel */
.carousel {
    margin-top: 30px;
}

.right.carousel-control, .left.carousel-control {
    display: none;
}

.carousel-indicators li {
    cursor: pointer;
    border: none;
    border-radius: 70%;
    background-color: #000;
    box-shadow: inset 2px 2px 2px 2px rgba(0,0,0,1); 
}

.carousel-indicators .active {
    background-color: #000;
}

.carousel-indicators {
	top: 110%;
}

.carousel-inner {
    margin-left: 50px;
    margin-bottom: 50px;
}

.carousel-content {
    position: absolute;
    top: 5%;
    left: 370px;
    z-index: 20;
    color: #000;
    font-size: 28px;
    margin-right: 250px;
    font-family: Arial;
    font-weight: 600;
    line-height: 1.2;
}

.carousel-content1 {
    position: absolute;
    top: 80%;
    left: 170px;
    z-index: 20;
    color: #000;
    font-size: 13px;
    margin-right: 250px;
    font-family: sans-serif;
    font-weight: 600;
}

/* end of carousel */

#p1 {
    position: absolute;
    padding-left: 200px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
}
p {
    position: absolute;
    padding-left: 200px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 200;
}
#p2 {
    position: absolute;
    padding-top: 0;
    padding-left: 300px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: dimgrey;
}

.subscribe {
    font-variant: small-caps; 
    background-color: transparent; 
    font-family: sans-serif; 
    font-size: 15px; 
    font-weight: 600; 
    padding: 10px 90px 10px 90px;
    border: 2px solid black;
    margin-right: 200px;
    margin-left: 935px;
}
.subscribe {
    font-variant: small-caps; 
    background-color: transparent; 
    font-family: sans-serif; 
    font-size: 15px; 
    font-weight: 600; 
    padding: 10px 90px 10px 90px;
    border: 2px solid black;
    margin-right: 200px;
    margin-left: 935px;
}